In [2]:
%matplotlib inline

In [4]:
%run ds_utils/base.py

.

    col_1 col_2
50   True     A
93  False     B
27  False     A
col_1  False  True
col_2
A          8     17
B         16     16
C         21     22

----------------------------------------------------------------------
Ran 1 test in 0.023s

OK

In [6]:
%run ds_utils/testing.py

..

                    date_signed_on has_churned      income price_plan  \
424  2012-01-13T00:00:00.000000000        True  501.611407          A
700  2011-05-02T00:00:00.000000000        True  502.498901          B
59   2013-12-21T00:00:00.000000000        True  502.215191          B
307  2013-02-18T00:00:00.000000000       False  503.327274          A
330  2013-12-07T00:00:00.000000000        True  504.348346          A

    product_purchased region        tax  total_purchase  user_id
424                 X      b  51.272904      101.407124      424
700                 X      c  51.212698      118.583128      700
59                  Z      c  50.095600      110.441070       59
307                 Z      a  50.348432      117.175163      307
330                 Z      c  51.380332      113.940326      330
date_signed_on        object
has_churned             bool
income               float64
price_plan            object
product_purchased     object
region                object
tax                  float64
total_purchase       float64
user_id                int64
dtype: object
date_signed_on       datetime64[ns]
has_churned                    bool
income                      float64
price_plan                 category
product_purchased          category
region                     category
tax                         float64
total_purchase                int64
user_id                     float64
dtype: object

----------------------------------------------------------------------
Ran 2 tests in 0.045s

OK

In [7]:
%run ds_utils/preprocessing.py

.....

    date_signed_on has_churned      income price_plan product_purchased  \
352     2016-06-20        True  502.397422        NaN                 Y
459     2016-11-29       False  504.373373          A                 Y
638     2014-10-23       False  500.275812          A                 Z
313     2015-12-07        True  503.959311          B                 Y
198     2012-08-03       False  501.180983          B                 Y

    region        tax  total_purchase  user_id
352      b  51.474804             109    352.0
459      d  50.489433             116    459.0
638      a  50.428622             114    638.0
313      a  51.960014             118    313.0
198      b  51.297972             114    198.0
date_signed_on       datetime64[ns]
has_churned                    bool
income                      float64
price_plan                 category
product_purchased          category
region                     category
tax                         float64
total_purchase                int64
user_id                     float64
dtype: object
date_signed_on       datetime64[ns]
has_churned                    bool
income                      float64
price_plan                 category
product_purchased          category
region                     category
tax                         float64
total_purchase                int64
user_id                     float64
dtype: object
    date_signed_on has_churned      income price_plan product_purchased  \
11      2011-10-02       False  500.962287          B                 Y
52      2011-01-26       False  501.207718          B                 Z
17      2014-05-05        True  501.189824          A                 X
946     2014-12-27       False  503.623228          A                 Z
526     2012-08-24        True  504.552073          B                 X

    region        tax  total_purchase  user_id
11       b  50.287722             114     11.0
52     NaN  50.211636             113     52.0
17       a  50.704509             112     17.0
946      b  50.638333             110    946.0
526      a  50.328072             112    526.0
date_signed_on       datetime64[ns]
has_churned                    bool
income                      float64
price_plan                 category
product_purchased          category
region                     category
tax                         float64
total_purchase                int64
user_id                     float64
dtype: object
    date_signed_on has_churned      income price_plan product_purchased  \
22      2013-11-20       False         NaN          A                 Z
152     2010-02-20       False  503.875076          A                 Y
945     2013-03-16       False  504.851737          A                 X
271     2016-01-18       False  501.354269          B                 X
743     2016-12-06        True  502.780256          A                 Z

    region        tax  total_purchase  user_id
22       d  50.267726             103     22.0
152      a  51.531020             118    152.0
945      d  50.895717             114    945.0
271      b  50.011400             105    271.0
743      b  51.472394             111    743.0
Index(['a', 'b', 'c', 'd', 'unknown'], dtype='object')
  animal  color letter  number target
0    dog    red      a     1.0   True
1    cat  green      b     2.5  False
2    dog   blue      c     3.0   True
  animal  color letter  number
0    dog    red      a     2.5
1    pig  green      b     3.5
   number target  letter_a  letter_b  letter_c  animal_cat  animal_dog  \
0     1.0   True         1         0         0           0           1
1     2.5  False         0         1         0           1           0
2     3.0   True         0         0         1           0           1

   color_blue  color_green  color_red
0           0            0          1
1           0            1          0
2           1            0          0
   number  letter_a  letter_b  letter_c  animal_cat  animal_dog  animal_pig  \
0     1.0         1         0         0           0           1           0
1     2.5         0         1         0           1           0           0
2     3.0         0         0         1           0           1           0

   color_blue  color_green  color_red
0           0            0          1
1           0            1          0
2           1            0          0
   number  letter_a  letter_b  letter_c  animal_cat  animal_dog  animal_pig  \
0     2.5         1         0         0           0           1           0
1     3.5         0         1         0           0           0           1

   color_blue  color_green  color_red
0           0            0          1
1           0            1          0
  animal  color letter  number target
0    dog    red      a     1.0   True
1    cat  green      b     2.5  False
2    dog   blue      c     3.0   True
   animal  color  letter  number target
0       1      2       0     1.0   True
1       0      1       1     2.5  False
2       1      0       2     3.0   True
  animal  color letter  number target
0    dog    red      a     1.0   True
1    cat  green      b     2.5  False
2    dog   blue      c     3.0   True
  animal  color letter  number
0    dog    red      a     2.5
1    pig  green      b     3.5
   animal  color  letter  number
0       1      2       0     1.0
1       0      1       1     2.5
2       1      0       2     3.0
   animal  color  letter  number
0       1      2       0     2.5
1       2      1       1     3.5

----------------------------------------------------------------------
Ran 5 tests in 0.147s

OK

In [8]:
%run ds_utils/explore.py

..

    date_signed_on has_churned      income price_plan product_purchased  \
806     2014-07-27        True  504.988701          A                 X
199     2011-02-11        True  503.165228          B                 Z
623     2015-12-17       False  501.215643          A                 Y
786     2015-08-24       False  502.235220          A                 Y
933     2016-05-13       False  501.070794          A                 Y

    region        tax  total_purchase  user_id
806      d  50.201812             107    806.0
199      c  50.556607             102    199.0
623      a  51.775415             105    623.0
786    NaN  51.239964             107    786.0
933      a  50.438499             103    933.0
    date_signed_on has_churned      income price_plan product_purchased  \
805     2011-02-04       False  503.516592          B                 Y
91      2015-02-21        True  501.046000          B                 Y
33      2016-05-14       False  504.220352          B                 X
511     2011-01-20        True  503.995927          A                 Y
789     2015-05-09        True  504.571068          B                 Y

    region        tax  total_purchase  user_id
805    NaN  51.836319             115    805.0
91       d  51.210527             105     91.0
33     NaN  51.701108             115     33.0
511      a  51.932461             101    511.0
789      a  51.016422             113    789.0
    date_signed_on has_churned      income price_plan product_purchased  \
271     2013-05-04        True  500.386858          A                 X
58      2011-11-17        True  502.090085          B                 X
387     2011-11-17       False  504.814143        NaN                 X
175     2014-11-18        True  503.533758          B                 Z
467     2015-06-29        True  502.920682          B                 Z

    region        tax  total_purchase  user_id
271      a  51.009800             115    271.0
58       d  50.502944             116     58.0
387      b  51.949030             113    387.0
175      b  51.407203             104    175.0
467      b  50.636960             113    467.0
    date_signed_on has_churned      income price_plan product_purchased  \
495     2016-07-19        True  502.944374          B                 Z
614     2014-04-24       False  501.121831          B                 X
808     2014-01-23       False  502.230805          B                 Z
640     2012-01-16       False  503.042489          A                 Z
153     2012-08-11        True  502.673587          B                 X

    region        tax  total_purchase  user_id
495    NaN  50.203342             111    495.0
614      c  51.707547             110    614.0
808      c  50.949834             119    808.0
640      a  50.250482             107    640.0
153      b  51.902172             106    153.0
    date_signed_on has_churned      income price_plan product_purchased  \
676     2011-04-10        True  501.983428          B                 Z
489     2014-05-14        True  502.817970        NaN                 X
773     2016-07-04        True  504.224994        NaN                 Z
542     2015-08-23        True  501.976781          B                 X
566     2010-01-15       False  502.949738          B                 X

    region        tax  total_purchase  user_id
676      c  51.562622             105    676.0
489      c  51.732628             118    489.0
773      d  50.593725             109    773.0
542      a  51.178167             110    542.0
566    NaN  51.775912             110    566.0
    date_signed_on has_churned      income price_plan product_purchased  \
176     2010-11-09       False  504.234085          A                 X
564     2012-05-04        True  503.899897          A                 X
89      2010-07-10       False  504.620120        NaN                 Z
976     2010-05-01        True  501.924548          B                 X
525     2012-09-28        True  504.605080          B                 Y

    region        tax  total_purchase  user_id
176    NaN  51.951210             105    176.0
564    NaN  50.034655             105    564.0
89       d  51.810355             113     89.0
976      c  51.836772             115    976.0
525    NaN  50.921368             112    525.0
       ratio has_churned
False  0.516       False
True   0.484        True
     ratio price_plan
B    0.462          B
A    0.438          A
NaN  0.100    missing
   ratio product_purchased
Y  0.337                 Y
Z  0.333                 Z
X  0.330                 X
     ratio   region
d    0.223        d
a    0.220        a
c    0.206        c
b    0.201        b
NaN  0.150  missing
True
df_describe_categorical_col_by_categorical_col
price_plan         A         B
has_churned
False        0.48366  0.510204
True         0.51634  0.489796
product_purchased         X        Y         Z
has_churned
False              0.490506  0.51875  0.489011
True               0.509494  0.48125  0.510989

....

region              a         b         c         d
has_churned
False        0.435233  0.526066  0.502392  0.506329
True         0.564767  0.473934  0.497608  0.493671
                  has_churned  price_plan  product_purchased   region
count                  1000.0      1000.0             1000.0  1000.00
num_unique_value          2.0         2.0                3.0     4.00
percent_nulls             0.0         0.1                0.0     0.15
                      income  total_purchase
has_churned
False       0.00  500.012927           100.0
            0.25  501.411613           105.0
            0.50  502.451877           109.0
            0.75  503.596186           115.0
            1.00  504.998757           119.0
True        0.00  500.021286           100.0
            0.25  501.332294           104.0
            0.50  502.698333           108.0
            0.75  503.773294           114.0
            1.00  504.984317           119.0
                      income  total_purchase
has_churned
False       0.00  500.009265           100.0
            0.25  501.351258           104.0
            0.50  502.569478           109.0
            0.75  503.906493           114.0
            1.00  504.999764           119.0
True        0.00  500.004520           100.0
            0.25  501.190726           105.0
            0.50  502.365542           110.0
            0.75  503.711138           114.0
            1.00  504.999704           119.0

----------------------------------------------------------------------
Ran 6 tests in 0.152s

OK